/home/ghost/
/home/voland/
/home/bitrix/backup/
/home/bitrix/mail.php
/home/bitrix/testmail.php

/home/bitrix/www/bitrix/
/home/bitrix/www/.DS_Store

/home/bitrix/www/.Trash-1000/
/home/bitrix/www/currency/
/home/bitrix/www/temp/
/home/bitrix/www/test*/
/home/bitrix/www/zagruzka/
/home/bitrix/www/turbo-img/

# конфиги PHPStorm & VSC
/.idea/
/.vscode/

# исключаем логи
/home/bitrix/www/local/php_interface/logs/
/home/bitrix/www/logs/

# исключаем загружаемые файлы
/home/bitrix/www/upload/
/www/andreww1000.h1n.ru/up_blocks/

# различные системные папки и файлы хостингов и операционных систем
/bin/
/boot/
/dev/
/etc/
/lib/
/lib64/
/media/
/mnt/
/opt/
/proc/
/root/
/run/
/sbin/
/srv/
/sys/
/tmp/
/usr/
/var/
.autorelabel
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# исключаем все текстовые и подобные ресурсы
*.xml
*.html
*.txt
*.log
*.css.map

*.png
*.gif
*.svg
*.jpg
*.jpeg
*.webp

*.csv
*.json
*.pdf
*.ttf
*.woff
*.woff2
*.otf
*.eot

# архивы, включая многотомные
*.zip
*.zip*  
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
.hg
.ftpconfig

*.rtf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch
core.*

# храним robots.txt
!/robots.txt